@font-face {
  font-family:'Source Serif 4';
  font-style:normal;
  font-weight:500;
  src:local('Source Serif 4 Semibold'),
  url("SourceSerif4-Semibold.ttf.woff2") format("woff2");
  font-display:swap;
}

body {
    text-align: center; 
    padding-top: 100px;
    background-color:#353535;
    color: #ddd;
    margin:0;
    font-family:"Source Serif 4",NanumBarunGothic,serif;
    font-size: 1rem;
    line-height: 1.5;
}
h1 {
  font-size:1.5rem;
}
h1,
h4 {
  font-weight:500;
}
h4 {
  margin:25px 0 15px 0;
  padding-bottom:6px;
}
a {
    color: #d2991d;
    text-decoration:none;
}