.material-icons.large {
   font-size: 32px;
}
@font-face {
   font-family: "zng-material-icons-extensions-outlined";
   src: url('/doc/zng-material-icons-extensions/outlined.otf') format("opentype");
}
.material-icons.outlined {
   font-family: "zng-material-icons-extensions-outlined";
}
@font-face {
   font-family: "zng-material-icons-extensions-filled";
   src: url('/doc/zng-material-icons-extensions/filled.ttf') format("truetype");
}
.material-icons.filled {
   font-family: "zng-material-icons-extensions-filled";
}
@font-face {
   font-family: "zng-material-icons-extensions-rounded";
   src: url('/doc/zng-material-icons-extensions/rounded.otf') format("opentype");
}
.material-icons.rounded {
   font-family: "zng-material-icons-extensions-rounded";
}
@font-face {
   font-family: "zng-material-icons-extensions-sharp";
   src: url('/doc/zng-material-icons-extensions/sharp.otf') format("opentype");
}
.material-icons.sharp {
   font-family: "zng-material-icons-extensions-sharp";
}
